
body{
	margin: 0;
	padding: 0;
	font-family: 'Raleway';
}

nav{
	position: fixed;
	background-color: #000;
	top: 0;
	left: 0;
	width: 100%;
	height: 12vh;
	padding: 33px 100px;
	box-sizing: border-box;
	transition: .3s;
	text-align: center;
}

nav ul{
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: nowrap;
}

nav ul li{
	list-style: none;
}

nav ul li a {
	color: #fff;
	padding: 12px 20px;
	margin: 10px;
	font-size: 25px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s;
}

nav ul li a:focus{
	outline: none;
}

nav ul li a:hover{
	background-color: #47a5e8;
	border-radius: 6px;
}

section.quote{
	width: 100%;
	height: 100vh;
	color: white;
	background-image: url(bg.png);
	background-size: cover;
	background-position: center;
	text-align: center;
}

section.quote h1{
	font-size: 7vw;
	padding-top: 35vh;
	padding-bottom: 1%;
	margin: 0;
}

section.sec1{
	width: 100%;
	height: 100vh;
	color: black;
	background-color: #ffd600;
	background-size: cover;
	background-position: center;
	text-align: center;
}

section.sec1 h1{
	font-size: 7vw;
	padding-top: 35vh;
	padding-bottom: 1%;
	margin: 0;
}

section.sec1 p{
	font-size: 1.75vw;
	width: 75%;
	padding: 0px 12%;
}

section.content{
	width: 100%;
	height: 100vh;
	color: white;
	background-color: #277c9c;
	background-size: cover;
	background-position: center;
	text-align: center;
}

section.content h1{
	font-size: 100px;
	padding-top: 35vh;
	margin: 0;
}

section.content ul{
	list-style-position: inside;
	font-size: 45px;
	text-align: left;
	padding-left: 40%;
	transform: translateY(-20%);
}

section.content ul li a{
	color: #5cf6db;
	text-decoration: underline;
}

#title{
	margin-right: 25vw;
}

#title:hover{
	background-color: transparent;
}

/* Landscape 1 */
@media (min-width: 800px) and (max-width: 1409px) and (max-height: 880px){
	#title{
		line-height: 0;
		color: #000;
	}

	#title::after{
		content: "Speed and Quality Software";
		color: #fff;
		font-size: 1em;
		line-height: initial;
		display: block;
		transform: translate(-2vw, -5vh);
	}
}

/* Landscape 2 */
@media (min-width: 1000px) and (max-width: 1409px) and (min-height: 880px){
	#title{
		line-height: 0;
		color: #000;
	}

	#title::after{
		content: "SAQS - Speed and Quality Software";
		color: #fff;
		font-size: 1em;
		line-height: initial;
		display: block;
		transform: translate(-2vw, -4vh);
	}

	section.quote h1{
		padding-top: 41vh;
	}

	section.sec1 p{
		font-size: 3vh;
	}
}

/* Portrait 1 */
@media (min-width: 700px) and (max-width: 1000px) and (min-height: 900px) and (max-height: 1200px){
	nav{
		padding: 40px 20px;
	}

	nav ul li a{
		font-size: 3vh;
		margin: 0;
	}

	#title{
		line-height: 0;
		color: #000;
	}

	#title::after{
		content: "Speed and Quality Software";
		color: #fff;
		font-size: 3vw;
		line-height: initial;
		display: block;
		transform: translate(-2vw, -5vh);
	}

	section.sec1 p{
		font-size: 2.9vh;
	}
}

/* Portrait 2 */
@media (min-width: 1000px) and (max-width: 1100px) and (min-height: 1200px) and (max-height: 1500px){
	nav{
		padding: 33px 50px;
		padding-top: 50px; 
	}

	nav ul li a{
		font-size: 3vh;
	}

	#title::after{
		font-size: 2vh;
	}

	section.quote h1{
		padding-top: 43vh;
	}
}

/* Portrait 3 */
@media (min-width: 1100px) and (max-width: 1200px) and (min-height: 1200px){
	nav{
		padding: 33px 50px;
		padding-top: 50px; 
	}

	nav ul li a{
		font-size: 3vh;
	}

	#title::after{
		font-size: 2vh;
	}
}


/* Normal phone */
@media screen and (max-width: 480px) {
	nav{
		height: 10vh;
		padding: 2vh 5vh;
	}

	nav ul li a {
		color: #000;
		padding: 1vh;
		margin: 2vw;
		font-size: 2vw;
		text-decoration: none;
		text-transform: uppercase;
	}

	nav ul li a:focus{
		outline: none;
	}

	nav ul li a:hover{
		background-color: transparent;
		border-radius: 0;
	}

	#title{
  		line-height: 0;
	}
	#title::after{
		content: "SAQS - Speed and Quality Software";
		color: #fff;
		font-size: 4.5vw;
		line-height: initial;
		display: block;
		transform: translate(32%, -100%);
	}

	section.quote{
		height: 53vh;
	}

	section.quote h1{
		padding-top: 26vh;
	}

	section.sec1{
		height: 45vh;
	}

	section.sec1 h1{
		font-size: 10vw;
		padding-top: 14vh;
	}

	section.sec1 p{
		font-size: 3.15vw;
		width: 75%;
		padding: 0px 12%;
	}

	section.content{
		width: 100%;
		height: 46vh;
	}

	section.content h1{
		font-size: 12vw;
		padding-top: 10vh;
		margin: 0;
	}

	section.content ul{
		list-style-position: inside;
		font-size: 7vw;
		text-align: left;
		padding-left: 30%;
	}
}

/* XS phone */
@media screen and (max-height: 570px) and (max-width: 480px){
	#title::after{
		font-size: 4vw;
		transform: translate(30%, -120%);
	}
}

/* Small phone */
@media (min-height: 570px) and (max-height: 670px) and (max-width: 500px){
	#title::after{
		font-size: 4vw;
		transform: translate(30%, -100%);
	}
}

/* Big phone */
@media (max-width: 480px) and (min-height: 800px){
	#title::after{
		transform: translate(32%, -85%);
	}

	section.content h1{
		padding-top: 12vh;
	}
}